body {

  background-color:#e4f9f5;
}

hr{

  border-color:white;
  border-width: 3px;
}

img{

  height: 220px;
  width: 220px;
}

h1{

   color: #2fc4b2;
}
h3{

  color: #2fc4b2;
}
h2{

   color: #2fc4b2;
}
.list{
  font-size:18px;
}
